.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: auto;
  padding: 0 3rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}

.pagination__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
}

.pagination__current {
  font-size: 1.1rem;
  color: #615551;
  font-weight: 500;
}

// 为空白占位的div添加宽度，保持布局对称
.pagination__container > div {
  width: 4rem;
}
